extends base

block style
  link(rel='stylesheet', href='css/index.css')

block script
  script(src='js/index.js')
  script(src='http://malsup.github.com/jquery.form.js')

block content
  .row
    #ancestors.span4
      .well story before
      ul.thumbnails
        //li.span1
          .thumbnail
            img(src='http://placehold.it/100/fb5c5c/fff&text=p1', alt='hey')

    #self.span5
      .thumbnail
        #myCarousel.carousel.slide
          .carousel-inner
            //.item.active
              img(src='http://placehold.it/500/fb5c5c/fff&text=self', alt='')
              .carousel-caption
                h4 self
                p and that is a pencil
          a.carousel-control.left(href='#myCarousel', data-slide='prev')&lsaquo;
          a.carousel-control.right(href='#myCarousel', data-slide='next')&rsaquo;
        
    #children.span3
      .well story after
      ul.thumbnails
        //li#new.span1
          .thumbnail
            img(src='http://placehold.it/100/aaa/fff&text=new', alt='')

    #myModal.modal.hide.fade
      .modal-header
        button.close(data-dismiss='modal') &times;
        h3 Adding
      .modal-body
        form.form-horizontal(action='/nodes', enctype='multipart/form-data', method='post')
          input(type='hidden', name='parent_id')
          fieldset
            .control-group
              label.control-label Title
              .controls
                input.input-xlarge(type='text', name='title', value='')
                span.help-inline
            .control-group
              label.control-label Description (optional)
              .controls
                input.input-xlarge(type='text', name='description', value='')
                span.help-inline
            .control-group
              label.control-label Image
              .controls
                input.input-xlarge(type='file', name='graph', value='')
                span.help-inline
      .modal-footer
        a#close.btn Close
        a#add.btn.btn-primary Add


