navbar_text_color = gray
theme_color = #f25c5c
theme_background = #ebebeb

.hero-unit
  background-image: url('/img/banner.png')
  background-repeat:no-repeat
  background-position:right top
  color: darken(navbar_text_color, 50%)

#roots .span2 h2
  overflow: hidden

