extends base

block style
  link(rel='stylesheet', href='/css/top.css')

block script
  script(src='/js/top.js')
  script(src='http://malsup.github.com/jquery.form.js')

block content
  .hero-unit
    h1 Stitch photos with your friends!
    p Create interesting stories together. Let's try it.
    p
      a#create.btn.btn-primary.btn-large Create story &raquo;

  .row
    h1#other.span12 or see others' stories
  #roots.row
    //.span2
      h2 heading
      .thumbnail
        img(src='http://placehold.it/300/fb5c5c/fff?text=123')

  #myModal.modal.hide.fade
      .modal-header
        button.close(data-dismiss='modal') &times;
        h3 Creating story
      .modal-body
        form.form-horizontal(action='/nodes', enctype='multipart/form-data', method='post')
          fieldset
            .control-group
              label.control-label Title
              .controls
                input.input-xlarge(type='text', name='title', value='')
                span.help-inline
            .control-group
              label.control-label Description (optional)
              .controls
                input.input-xlarge(type='text', name='description', value='')
                span.help-inline
            .control-group
              label.control-label Image
              .controls
                input.input-xlarge(type='file', name='graph', value='')
                span.help-inline
      .modal-footer
        a#close.btn Close
        a#add.btn.btn-primary Add
